<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
     http://www.springframework.org/schema/rabbit
     http://www.springframework.org/schema/rabbit/spring-rabbit-1.0.xsd">


    <!-- 配置rabbitmq服务信息 -->
    <rabbit:connection-factory id="connectionFactory"
                               username="admin" password="admin"
                               host="192.168.188.129" port="5672"/>

    <!--定义rabbit template用于消息的发送 -->
    <rabbit:template id="amqpTemplate"
                     connection-factory="connectionFactory"
                     exchange="exchangeTest"/>
    <rabbit:admin connection-factory="connectionFactory"/>

    <!--定义名称为queueTest的队列-->
    <rabbit:queue name="pageQueue" />


    <!-- 消息接收者 -->
    <bean id="messageReceiver" class="com.youlexuan.messagelistener.PageServiceListener" />

    <!--指定队列的订阅端（消息接收端）-->
    <rabbit:listener-container connection-factory="connectionFactory">
        <rabbit:listener queues="pageQueue" ref="messageReceiver" />
    </rabbit:listener-container>



</beans>
